@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Kanit, sans-serif;
}


/* NAVBAR */

.nav-items{
    margin-right: 9.375vw;    /* Centralizar texto nav */
}

.nav-item{
margin-left: 100px;
color: #124076;
}

.nav-item-home{
   color: #CBBE3C; 
}
/* NAVBAR */

/* SECTION RESTAURANTE UNIVERSITÁRIO */
.content{
    background: linear-gradient(#3259CE, #142454, #081028);
}

h2, p{
    color: #FFFFFF;
    margin: 0;
}

.r-univ p{
    font-size: 1em;
    margin-right: 30px;
    font-weight: 300;
}

.r-univ h2{
    font-weight: 500;
}

.r-univ{
    margin-bottom: 17px;
    margin-left: 66px;
    margin-right: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.img-ucsal{
    margin-top: 70px;
    width: 70%;
    height: 70%;
}

.txt-content{
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.r-univ__divtitle{
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: 2em;
    margin-bottom: 10px;
}

/* wave2 */
.wave{
    padding-top: 220px;
}
.custom-shape-divider-bottom-1713642525 {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713642525 svg {
    
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 225px;
}

.custom-shape-divider-bottom-1713642525 .shape-fill {
    
    fill: #FFFFFF;
}

/* wave2 */


/* SECTION RESTAURANTE UNIVERSITÁRIO */

/* Footer */
.footer{
    max-width: 100%;
    background-color: #121213;
    font-size: 18px;
    padding: 100px 50px 50px 100px;
   }

   .footer-content{
    display: flex;
    justify-content: space-around;
   }
   
   .title-footer {
   
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: initial;
       font-size:26px;
       width:100%;
       float:left;
       margin-bottom:15px;
   
   }

   .text-footer {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
  
   
   }

   .logo-footer{
    width: 250px;
    height: 61x;
   }

   .footer .links{
    
    width: 100%;
    float: left;
    color:  #ffffff;
    margin-bottom: 20px;
    padding: 0;
   }
   
   .footer .links a{
       display: block;
       line-height: 33px;
       text-decoration: none;
       color: #fff;
       font-family:'Kanit', sans-serif;
       font-size:16px;
       transition:0.3s;
   }
   
   .footer .links a:hover { color:#CBC264; }
   
   .footer-icons{
    margin-top: 100px;
    text-align: center;
   }
   
   .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #CBC264;
    border-radius: 50px;
       font-family:'DM Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center; 
    line-height: 35px;
    margin-bottom: 5px;
    transition:0.3s;
   
   }

   .footer .footer-icons a:hover{ background-color:#2fcacf; }
/* Footer */

/*Media Queries*/
@media (max-width: 1280px) {

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
       }

       .left-text{ text-align: center;}

       
   .center{ text-align: center;}

    .logo-footer{ margin: 0 auto;}

    .footer{ padding: 100px 1% 0% 1%; }
}
   
   @media (max-width: 768px) {

    .r-univ{
        flex-direction: column;
        align-items: center;
    }

    .img-ucsal{
        width: 70%;
        max-width: 100%;
        min-width: 70px !important;
        height: 30%;
    }

    .r-univ p{
        font-size: clamp(1rem, 2.5vw, 1rem);
    }

    .r-univ h2{
        font-size: clamp(2rem, 2.5vw, 2rem);
    }

    .r-univ__divtitle{
        align-self: center;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
       }

       .left-text{
        text-align: center;
       }

       
   .center{
    text-align: center;
   }

       .logo-footer{
        margin: 0 auto;
       }


    .footer { padding: 100px 1% 0% 1%; }
   }
