@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
}


/* NAVBAR */

.nav-items{
    margin-right: 9.375vw;    /* Centralizar texto nav */
}

.nav-item{
margin-left: 100px;
color: #124076;
}

.nav-item-home{
   color: #CBBE3C; 
}
/* NAVBAR */

/* SECTION RESTAURANTE UNIVERSITÁRIO */
.content{
    display: flex;
    flex-direction: column;
    gap:30px;
    background: linear-gradient(#3259CE, #142454, #081028);
}

.banner-univ{
    display: flex;
}

.banner{
    background-size: cover;
}

.banner-text{
    display: flex;
    color: #ffffff;
}

h2, p{
    color: #FFFFFF;
}

.r-univ p{
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

.r-univ h2{
    font-weight: 500;
}

.r-univ{
    margin-top: 5%;
    margin-left: 66px;
    margin-right: 66px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 28px;
}

.txt-content{
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.r-univ__divtitle{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    margin-bottom: 10px;
}

/* SECTION RESTAURANTE UNIVERSITÁRIO */

/* SECTION CARDS */

.pratos-semanais__title{
    margin-top: 50px;
}

.bg-black{
    margin-bottom: 20%;
}

.img-card{
    height: 300px;
    width: 250px;
    margin-top: 100px;
    transition: .5s;
}

.cards-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pratos-semanais{
    display: flex;
    margin-top: 15%;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    gap: 30px;
}

.pratos-semanais p{
    color: white;
    visibility: hidden;
    opacity: 0;
}

.pratos-semanais h1{
    color: white;
    font-size: 30px;
}

.card{
    height: 300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    background-color: #101e44;
}

.card__txt{
    height: 100px;
    width: 250px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .5);
    transition: .5s;
}

.card:hover{
    cursor: pointer;
}

.card:hover .card__txt{
    height: 150px;
    background: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}
/* SECTION CARDS */

/* Footer */
.footer{
    max-width: 100%;
    background-color: #121213;
    font-size: 18px;
    padding: 100px 50px 50px 100px;
   }

   .footer-content{
    display: flex;
    justify-content: space-around;
   }
   
   .title-footer {
   
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: initial;
       font-size:26px;
       width:100%;
       float:left;
       margin-bottom:15px;
   }

   .text-footer {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
   }

   .logo-footer{
    width: 250px;
    height: 61x;
   }

   .footer .links{
    
    width: 100%;
    float: left;
    color:  #ffffff;
    margin-bottom: 20px;
    padding: 0;
   }
   
   .footer .links a{
       display: block;
       line-height: 33px;
       text-decoration: none;
       color: #fff;
       font-family:'Kanit', sans-serif;
       font-size:16px;
       transition:0.3s;
   }
   
   .footer .links a:hover { color:#CBC264; }
   
   .footer-icons{
    margin-top: 100px;
    text-align: center;
    margin-left: 5%;
   }
   
   .footer-icons a{
    margin-right: 5%;
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #CBC264;
    border-radius: 50px;
       font-family:'DM Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center; 
    line-height: 35px;
    margin-bottom: 5px;
    transition:0.3s;
   
   }

   .footer .footer-icons a:hover{ background-color:#2fcacf; }
/* Footer */

/*Media Queries*/
@media (max-width: 1280px) {

    .card{
        max-width: 20%;
        max-height: 20%;
        min-width: 10%;
        min-height: 10%;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
       }

       .left-text{ text-align: center;}

       
   .center{ text-align: center;}

    .logo-footer{ margin: 0 auto;}

    .footer{ padding: 100px 1% 0% 1%; }
}

@media (max-width: 1065px){

    .pratos-semanais__title{
        margin-top: 10px;
        text-align: center;
    }

    .cards-linha{
        display: flex;
        flex-direction: column;
    }

    .bg-black{
        display: flex;
        flex-direction: row;
        height: 80%;
        padding-left: 100px;
        margin: 20px;
        margin-bottom: 100px;
    }

    .card__txt{
        padding-right: 50px;
    }

    .card{
        max-width: 50%;
        max-height: 60%;

    }

    .img-card{
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 100px;
    }

}
   
   @media (max-width: 768px) {

    .card{
        max-width: 100%;
        max-height: 20%;
    }

    .img-card{
        width: 100%;
        height: 100%;
    }

    .bg-black{
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        max-width: 90%;
    }

    .card__txt{
        visibility:hidden;
    }

    .r-univ{
        flex-direction: column;
        align-items: center;
    }

    .img-ucsal{
        width: 70%;
        max-width: 100%;
        min-width: 70px !important;
        height: 30%;
    }

    .r-univ p{
        font-size: clamp(1rem, 2.5vw, 1rem);
    }

    .r-univ h2{
        font-size: clamp(2rem, 2.5vw, 2rem);
    }

    .r-univ__divtitle{
        align-self: center;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
       }

       .left-text{
        text-align: center;
       }

       
   .center{
    text-align: center;
   }

       .logo-footer{
        margin: 0 auto;
       }


    .footer { padding: 100px 1% 0% 1%; }
   }
